@charset "utf-8";

.map {
	background-color: #cccccc;
	padding: 5px;
	width: 930px;
	height: 500px;
	margin: 0px auto 15px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 5px solid #cccccc;
}

.statusView {
	width: 600px;
	margin: 10px auto;
	padding: 10px;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #333333;
	opacity: 0.8;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.highlight {
	-webkit-animation: ease-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: highlight;
	animation: ease-in;
	animation-duration: 1s;
	animation-name: highlight;
	animation-iteration-count: infinite;
}

@-webkit-keyframes highlight {
	from{ background: #333333;}
	33%{ background: #006699;}
    66%{ background: #333333;}
    99%{ background: #006699;}
    to{ background: #333333;}
}

@keyframes highlight {
	from{ background: #333333;}
	33%{ background: #006699;}
    66%{ background: #333333;}
    99%{ background: #006699;}
    to{ background: #333333;}
}


.currentPositionView {
	width: 600px;
	padding: 10px;
	margin: 10px auto;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #333333;
	opacity: 0.8;
	text-align: center;
	display: block;
}

.currentPositionView .hd {
	display: inline;
	padding-right: 10px;
	text-align: center;
}

.currentPositionView .hd h3,
.currentPositionView .bd,
.currentPositionView dl,
.currentPositionView dt,
.currentPositionView dd {
	display: inline;
}

.currentPositionView dd {
	padding-right: 10px;
}

.dialog {
	width: 300px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #333333;
	-moz-box-shadow: 0px 0px 5px #333333;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
}

.dialog .hd {
	font-size: 108%;
	padding: 5px 10px;
	background: #cccccc;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-top-left: 5px;
	-webkit-border-radius-top-right: 5px;
}

.dialog .bd {
	background: #ffffff;
	padding: 10px;
}

.dialog .ft {
	border-top: 1px dotted #dddddd;
	text-align: right;
	padding: 10px;
	background: #ffffff;
	text-align: right;
}
