@charset "utf-8";

body {
	font:13px/1.231 "MS Trebuchet", Arial, sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

dt {
	font-weight: bold;
	text-transform: capitalize;
}

dd {
	margin-bottom: 10px;
}

.page {
	width: 960px;
	margin: 0px auto;
}

.map {
	background-color: #cccccc;
	padding: 5px;
	width: 930px;
	height: 500px;
	margin: 0px auto;
	-moz-border-radius: 5px;
	border: 5px solid #cccccc;
}

.currentPositionView {
	padding: 10px;
	color: #ffffff;
	-moz-border-radius: 5px;
	background: #333333;
	opacity: 0.8;
}

.currentPositionView header {
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #111111;
	margin-bottom: 5px;
}
